<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgups.express.mapper.ConfigMapper">
    <update id="updateConfigByK" parameterType="string" >
        update config set v = #{v} where k = "平台汇率"
    </update>
</mapper>