<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgups.express.mapper.CityMapper">

    <resultMap id="cityNameMap" type="java.util.HashMap">
        <id column="id" property="id"  />
        <result column="city_cname" property="cityCname"  />
    </resultMap>

    <select id="getCityName" resultMap="cityNameMap">
        select city_cname  from city
    </select>

</mapper>