<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgups.express.mapper.CustomsListMapper">

    <resultMap id="cusList" type="com.hgups.express.domain.CustomsList">
        <collection property="waybillContact" ofType="com.hgups.express.domain.WaybillContact" autoMapping="true">
        </collection>
        <collection property="parcel" ofType="com.hgups.express.domain.Parcel" autoMapping="true">
        </collection>
        <collection property="wayBill" ofType="com.hgups.express.domain.WayBill">
            <result column="shipping_sacks_id" property="shippingSacksId"/>
            <result column="shipping_batch_id" property="shippingBatchId"/>
            <result column="tracking_number" property="trackingNumber"/>
            <result column="ware_weight" property="wareWeight"/>
            <result column="new_way_bill_id" property="newWayBillId"/>
        </collection>
        <collection property="article" ofType="com.hgups.express.domain.Article" autoMapping="true">
        </collection>
    </resultMap>

    <select id="getCustomsList" resultMap="cusList">
        SELECT wc.sender_name,wc.sender_address_one,wc.sender_address_two,wc.sender_city,
                wc.sender_postal_code,wc.sender_province,wc.sender_countries,wc.receive_name,
                wc.receive_address_one,wc.receive_address_two,wc.receive_province,wc.receive_city,
                wc.receive_postal_code,wc.receive_countries,wc.receive_phone,wc.receive_phone_prefix,
                wc.sender_phone,wc.sender_phone_prefix,w.new_way_bill_id,
                w.tracking_number,w.shipping_sacks_id,w.ware_weight,w.shipping_batch_id,a.c_describe,a.e_describe,a.price,a.number,a.hts_encode,a.hs_encode FROM waybill w inner join waybill_contact wc on wc.way_bill_id=w.id INNER JOIN article a ON a.waybill_id=w.id WHERE w.id in
        <foreach item="wid" index="index" collection="wids" open="(" separator="," close=")">
            #{wid}
        </foreach>
    </select>


</mapper>
