<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgups.express.mapper.ReceiveMapper">

    <select id="allReceive" resultType="Receive">
        SELECT * FROM receive where 1=1
        <if test="likes != null and likes != ''">or name like concat('%',#{likes},'%')</if>
        <if test="likes != null and likes != ''">or company like concat('%',#{likes},'%')</if>
        <if test="likes != null and likes != ''">or phone like concat('%',#{likes},'%')</if>
        <if test="likes != null and likes != ''">or address_one like concat('%',#{likes},'%')</if>
        <if test="likes != null and likes != ''">or email like concat('%',#{likes},'%')</if>
        and user_id=#{userId}
        and is_save=1
        ORDER BY id DESC LIMIT #{current},#{size}
    </select>

    <delete id="deleteReceive" parameterType="Integer">
        delete from receive where id=#{id}
    </delete>

    <select id="getReceive" parameterType="Receive" resultType="Receive">
        select * from receive where name=#{name} and company=#{company} and countries=#{countries} and province_ename=#{provinceEname} and city_ename=#{cityEname} and postal_code=#{postalCode} and address_one=#{addressOne} and address_two=#{addressTwo} and phone=#{phone} and user_id=#{userId}
    </select>

</mapper>
